extends main-layout.pug 

block styles
    link(rel="stylesheet", href="/product.css")
    link(rel="stylesheet", href="/form.css")
block content 
     main
        form.product-form(action="/admin/add-product", method="POST")
            div.form-control
                label(for="title") Product name ouais
                input(type="text", name="title")#title
            button.btn(type="submit") Add product